# cat .gitignore
*.json
__pycache__/
.vscode/
python/__pycache__/
*.pyc
maintenance-mode
!logTypes.json
error.log
/html/space3/pwa
/html/space3/macos.zip
/html/space3/windows.zip
/python/fix2.sql
/html/updateInfo.log
/html/restore.json
/python/update.sh
!/html/composer.json
/html/composer.lock
/html/vendor/