# cat .gitignore
*.json
__pycache__/
.vscode/
python/__pycache__/
*.pyc
maintenance-mode
!logTypes.json
error.log
/html/gameData/*
!/html/gameData/secret.env
/python/fix2.sql
/html/updateInfo.log
/html/restore.json
/python/update.sh
!/html/composer.json
/html/composer.lock
/html/vendor/
.DS_STORE