body {
    background-color: black;
    color: white;
    font-family: 'Calibri';
}

.main {
    margin-left: 200px;
}

h1 {
    font-size: 50px;
}

h2 {
    color: red;
}

.vertical-menu {
    background-color: green;
    padding-top: 50px;
    width: 200px;
    height: 100%;
    font-size: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
}

.vertical-menu a {
    padding: 6px 6px 6px 30px;
    background-color: green;
    color: white;
    display: block;
    padding: 12 px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: darkgreen;
    font-size: 22px;
}

.vertical-menu a.active {
    background-color: black;
}

input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

button,
input[type='submit'],
select {
    color: rgb(0, 255, 0);
    background-color: black;
    border: 2px solid green;
    border-radius: 6px;
}

button:hover,
input[type='submit']:hover {
    background-color: green;
    color: black;
}

table {
    border: 0px;
    border-collapse: collapse;
    text-align: left;
}

td,
th {
    height: 10px;
    padding-right: 15px;
}

th {
    text-decoration-thickness: 10px;
}