ErrorDocument 404 /notFound.php
# Will check if maintenance mode is enabled and will redirect to maintenance.php if that is true
# activate mod_rewrite
RewriteEngine On

# check if a file exists called "maintenance-mode-on" in the document root
RewriteCond %{DOCUMENT_ROOT}/maintenance-mode -f

# safety check to prevent redirect loops 
   # safety check to prevent redirect loops 
# safety check to prevent redirect loops 
RewriteCond %{REQUEST_URI} !/maintenance.php$

# redirect internally all requests to maintenance.php 
   # redirect internally all requests to maintenance.php 
# redirect internally all requests to maintenance.php 
RewriteRule $ /maintenance.php [L]
#Will redirect from confidential files
<Files config.json>
   order allow,deny
   deny from all
</Files>
<Files error.log>
   order allow,deny
   deny from all
</Files>
<Files backups.json>
   order allow,deny
   deny from all
</Files>
<Files updateInfo.log>
   order allow,deny
   deny from all
</Files>
<FilesMatch "modManager\.js">
SetHandler application/x-httpd-php
</FilesMatch>